# OSX
#
.DS_Store

# Xcode
#
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate

# Android/IntelliJ
#
build/
.idea
.gradle
local.properties
*.iml
*.hprof

# node.js
#
node_modules/
npm-debug.log
yarn-error.log

# BUCK
buck-out/
\.buckd/
*.keystore
!debug.keystore

# fastlane
#
# It is recommended to not store the screenshots in the git repo. Instead, use fastlane to re-generate the
# screenshots whenever they are needed.
# For more information about the recommended setup visit:
# https://docs.fastlane.tools/best-practices/source-control/

*/fastlane/report.xml
*/fastlane/Preview.html
*/fastlane/screenshots

# Bundle artifact
*.jsbundle

# CocoaPods
/ios/Pods/
App.js
navigation.js
package.json
yarn.lock
components/BottomTabs.js
components/Categories.js
components/HeaderTabs.js
components/RestaurantItems.js
components/SearchBar.js
components/home/BottomTabs.js
components/home/Categories.js
components/home/HeaderTabs.js
components/home/RestaurantItems.js
components/home/SearchBar.js
components/restaurantDetail/About.js
components/restaurantDetail/MenuItems.js
components/restaurantDetail/ViewCart.js
ios/Podfile.lock
screens/Home.js
screens/RestaurantDetail.js
